@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'lucida grande', sans-serif;
    font-size: 11px;
    color: #141823;
    }

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.app{
    border-radius: 10px;
    padding: 2em;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.app h1{
    margin-top: 0;
}
.app span{
    font-weight: 550;
}
.app p{
    margin: 2rem;
}
.app button{
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}
.app button:active{
    transform: scale(0.98);
}
